.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-estilos {
  font-weight: 400;
  background-color: #0056b3;
  color: white;
}

.btn-estilos:hover {
  background-color: #1a86fa;
  color: #302f2d;
}