.navbar {
  background-color: #0056b3;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.div__list__estilo {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-estilos {
  font-size: 1.2em;
  font-weight: 900;
  background-color: #333;
  color: white;
}

.btn:hover {
  background-color: #003d80;
  color: #f4c542;
  border-color: #f4c542;
}

.logo {
  display: flex;
  align-items: center;
}

.cart-widget {
  margin-left: auto;
}